body{
    background-color: rgb(160, 159, 159);
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0px;
}
.header {
    background-color: rgb(175, 173, 173);
    height: 150px;
    padding: 40px 40px;
    border-radius: 20%;
}
 .main{
    font-size: 52px;
    text-align: center;
 }
 .elso {
    width: 60%;
    margin: 0px 20%;
 }
 #ala {
    text-decoration: underline;
    font-size: 25px;
 }
 #dolt {
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
 }
 #datum {
    text-align: right;
 }
 .elso {
   width: 60%;
   height: 100%;
   margin: 0px 20%;
}
.masodik {
   width: 60%;
   margin: 0 20%;
}
.harmadik {
   width: 60%;
   margin: 0 20%;
}
#kicsi {
   font-size: 18px;
}
