*{
    background-color: rgb(131, 184, 233);
    color: black;
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
}

.cim {
    text-align: center;
    font-size: 72px;
    text-decoration: none;
}
hr {
    color: black;
    width: 95%;
    margin: auto;
}
h1 {
    font-size: 48px;
    text-decoration: underline;
}
#evszam{
    text-align: right;
}